.home-page {
  &__title {
    color: red;
  }
  


  
  &__products {
    display: flex;
    flex-direction: column, row 3;
    flex-wrap:  wrap;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
